
<div class="container">
    <div class="col align-self-center">
      <form (ngSubmit)="onSubmit()" #myForm="ngForm">
        <div class="form-group">
          <label for="jobname" class="col-sm-2 col-form-label">Job Name</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="jobsData.jobname"
            name="txtjobname"
            #ename="ngModel"
            pattern="^[a-zA-Z\s]{1,15}$"
            required
          />
        </div>
        <div class="col align-self-center">
            <form (ngSubmit)="onSubmit()" #myForm="ngForm">
              <div class="form-group">
                <label for="educationDetails" class="col-sm-2 col-form-label">Education Details</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="jobsData.educationDetails"
                  name="txteducationDetails"
                  #ename="ngModel"
                  pattern="^[a-zA-Z\s]{1,15}$"
                  required
                />
              </div>
              <div class="col align-self-center">
                <form (ngSubmit)="onSubmit()" #myForm="ngForm">
                  <div class="form-group">
                    <label for="jobLocation" class="col-sm-2 col-form-label">Job Location</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="jobsData.JobLocation"
                      name="txtjobLocation"
                      #ename="ngModel"
                      pattern="^[a-zA-Z\s]{1,15}$"
                      required
                    />
                  </div>
        
  
        <div class="form-group">
          <label for="inputPassword" class="col-sm-2 col-form-label"
            >Password</label
          >
          <div class="col align-self-center">
            <form (ngSubmit)="onSubmit()" #myForm="ngForm">
              <div class="form-group">
                <label for="experiance" class="col-sm-2 col-form-label">Experiance</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="jobsData.experiance"
                  name="txtexperiance"
                  #ename="ngModel"
                  pattern="^[a-zA-Z\s]{1,15}$"
                  required
                />
              </div>
             <div class="form-group">
            <label for="phone" class="col-sm-2 col-form-label">Phone</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="jobsData.phone"
              name="txtphone"
              #ename="ngModel"
              pattern="^[a-zA-Z\s]{1,15}$"
              required
              />
             </div>
                <div class="form-group">
                    <label for="address" class="col-sm-2 col-form-label">Address</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="jobsData.address"
                      name="txtaddress"
                      #ename="ngModel"
                      pattern="^[a-zA-Z\s]{1,15}$"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="jobid" class="col-sm-2 col-form-label">Jobid</label>
                    <input
                      type="number"
                      class="form-control"
                      [(ngModel)]="jobsData.jobid"
                      name="txtjobid"
                      #ename="ngModel"
                      pattern="^[a-zA-Z\s]{1,15}$"
                      required
                    />
                  </div>


           <div class="form-group">
          <button
            (click)="updateJobs()" onclick="alert('Job updated successfully!');"
            
            type="button"
            class="btn btn-primary"
          >
            Update Jobs
          </button>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="submitted">
          Please fill all the fields
        </div>
      </form>
    </div>
  
  