<html><div style="color: wheat;">.</div>

<div class="b1">
<div class="fw-bold"  style="text-align: center; font-size: 30px;
    color: #182145; font-family: sans-serif;">I am Jobseeker <br> <br>
    
    <button class="button button1" 
     (click)=" regnav()">Find job now</button>
</div>

</div>


<div class="b2">
    <p class="fw-bold"  style="text-align: center; font-size: 30px;
        color: #182145; font-family: sans-serif;">I am Employer <br> <br>
        
        <button class="button button2" 
         (click)=" regnav1()">Hire Now</button>
    </p>
    
    </div>
    <div style="color:wheat ;"><br>.</div> 
    </html>